.code {
  min-height: 100%;
  > pre {
    background-color: #f1f2f5;
    min-height: 100%;
    display: inline-block;
  }
}

.loader {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  > * {
    min-height: 100%;
    min-width: 100%;
    // code[class*="language-"], pre[class*="language-"] {
    //   min-height: 100%;
    // }
  }
}

.viewRaw {
  position: absolute;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 14px;
  right: 10px;
  top: 10px;
  &:hover {
    background-color: #333;
    color: #fff;
  }
}
