.warpper {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 53px);
}

.header {
  > a {
    color: #6f6f6f;
  }
  > span {
    color: #6f6f6f;
  }
  > div:global(.w-divider) {
    background-color: #3e3e3e;
  }
}