.warpper {
  flex-grow: 1;
  display: flex;
  height: calc(100vh - 53px);
}

.header {
  background-color: #343a40;
  padding: 0 16px;
  display: flex;
  align-items: center;
  > a {
    display: flex;
    color: #989898;
    &.github {
      margin-right: 10px;
      margin-left: 10px;
    }
    &:hover {
      color: #cb3837;
      &.github {
        color: #a9a9ff;
      }
    }
  }
  > span {
    color: #989898;
  }
  > div:global(.w-divider) {
    background-color: #737373;
    margin-top: 2px;
  }
}